* {
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body {
    padding-top: 2rem;
    background-color: rgb(248, 243, 243) !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    margin: auto;
}

.grid {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 750px;
    font-size: .8rem;
}
